<p>ca va</p>
<div class="user">
    <table>
        <tr>
            <td>
                <label for="">
                    User id : 
                </label>
            </td>
            <td>
                <label for="id">
                    {{ people.id }}
                </label>
            </td>
        </tr>
       <tr>
            <td>
                <label for="">
                    Nom : 
                </label>
            </td>
            <td>
                <label for="">
                    {{ people.name }}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">
                    Prenom : 
                </label>
            </td>
            <td>
                <label for="">
                    {{ people.lastname }}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">
                    Date de naissance : 
                </label>
            </td>
            <td>
                <label for="">
                    {{ people.dob }}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">
                    Genre : 
                </label>
            </td>
            <td>
                <label for="">
                    {{ people.gender }}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">
                    Education : 
                </label>
            </td>
            <td>
                <label for="">
                    {{ people.education }}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">
                    Status : 
                </label>
            </td>
            <td>
                <label for="">
                    {{ people.marital_status}}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="">
                    Profession : 
                </label>
            </td>
            <td>
                <label for="">
                    {{ people.profession }}
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <button class="example" type='submit'>Consulter mes résultats</button>
            </td>
        </tr>
</table>
</div>
<div class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <table>
        <tr>
            <td>
                Entrer votre numéro de facture : 
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="facture_id" id="facture_id">
            </td>
        </tr>
        <tr><td>
            <button type="submit" id='submit' class="button">ENVOYER</button></td></tr>
      </table>
    </div>
</div>
<script>
    var trigger = document.querySelector(".example");
    var closeButton = document.querySelector(".close-button");
    var modal = document.querySelector(".modal");

    function toggleModal() {
      modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
      if (event.target === modal) {
        toggleModal();
      }
    }
    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
  </script>
